Click==7.0
enum34==1.1.6
Flask==1.0.2
Flask-Admin==1.5.3
Flask-BasicAuth==0.2.0
Flask-SQLAlchemy==2.3.2
inflect==1.0.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mysql-connector==2.1.7
sqlacodegen==1.1.6
SQLAlchemy==1.2.12
Werkzeug==0.14.1
WTForms==2.2.1
